Basisformer/records/all_countries/features_M/seq_len96,pred_len48/test_results.npz filter=lfs diff=lfs merge=lfs -text
iTransformer-main/dataset/electricity/electricity.csv filter=lfs diff=lfs merge=lfs -text
data/all_countries.csv filter=lfs diff=lfs merge=lfs -text
