torch==2.3.0
scikit-learn==1.3.0
pandas==2.2.2
numpy==1.26.4
tensorflow==2.17.0
matplotlib==3.9.0
chronos[training] @ git+https://github.com/amazon-science/chronos-forecasting.git
pyarrow==16.1.0
causalnex==0.12.0
gluonts